TRAINING_TORQUE_LINK = "https://torque.leverforchange.org/GlobalView"
TRAINING_TORQUE_USERNAME = "USERNAME"
TRAINING_TORQUE_API_KEY = "API_KEY"

SCORING_TORQUE_LINK = "https://torque.leverforchange.org/COMPETITION"
SCORING_TORQUE_COMPETITION = "COMPETITION"
SCORING_TORQUE_USERNAME = "USERNAME"
SCORING_TORQUE_API_KEY = "API_KEY"
SCORING_SCORE_TYPE = "Panel" # Or "Peer"
SCORING_JUDGE_DATA_TYPES = [
    "COMMUNITY-INFORMED",
    "IMPACTFUL",
    "FEASIBLE",
    "SUSTAINABLE",
]
